* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-weight: 550;
    font-family: 'Montserrat';
    color: #030;
    background: linear-gradient(180deg, rgb(162, 247, 218) 0%, #e7fce4 50%);

}

/*---------NAVBAR STYLES-------------*/

.navbar__wrapper {
    width: 100%;
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 22px 0;

}
.navbar__container {
    width: 80%;
    max-width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.navbar__container .navbar__logo {
    text-decoration: none;
    color: #030;
    transition: .5s;
}

.navbar__container .navbar__sections a {
    text-decoration: solid 1px underline #1a7;
    text-underline-offset: 5px;
    color: #030;
    transition: .5s;
}

.navbar__container a:hover {
    color: #1a7;
}

.active {
    background: radial-gradient(60% 50% at 50% 50%, #1a7 0%, rgba(253, 169, 250, 0) 100%);
}

/*---------NAVBAR STYLES ENDS-------------*/

/*---------HEADER STYLES-------------*/
.header__wrapper {
    width: 100%;
    min-width: 50rem;
    height: 60vh;

    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.header__container {
    width: 65%;
    min-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__text {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text__container {
    margin: auto;
}

.text__title {
    font-size: 1.5rem;
}

.text__places {
    margin-top: 2rem;
    font-size: 1.3rem;
}

.text__places ul{
    width: fit-content;
}

.text__places li {
    list-style: none;
    margin-top: .5rem;
}

.text__places a {
    text-decoration: solid 1px underline #1a7;
    text-underline-offset: 5px;
    color: #030;
    transition: .5s;
}

.text__places a:hover {
    color: #1a7;
    transition: .5s;
}

.header__img {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__img img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #030;
    box-shadow: 10px 10px 0 #030;
}
/*---------HEADER STYLES ENDS-------------*/
/*---------DIVIDER STYLES-------------*/
.divider1 {
    width: 100%;
    min-width: 1000px;
    position: absolute;
    top: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider__after {
    width: 30%;
    min-width: 500px;
    border: .5px solid #030;
    height: 1px;
}

.divider__image {
    font-size: 1.5rem;
}

.divider__before {
    width: 30%;
    min-width: 500px;
    border: .5px solid #030;
    height: 1px;
}
/*---------DIVIDER 1 STYLES ENDS-------------*/
/*---------ABOUTME STYLES-------------*/
.aboutme__wrapper {
    width: 100%;
    margin-top: 15rem;
    display: flex;
    justify-content: center;
}

.aboutme__container {
    width: 60%;
    min-width: 1000px;
}

.aboutme__container h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.aboutme__title {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.title__p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.aboutme__now {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.now__p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.aboutme__free {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.free__p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.aboutme__funfacts {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.funfacts__list {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.funfacts__list li {
    list-style: none;
    margin-bottom: .5rem;
}


/*---------ABOUTME STYLES ENDS-------------*/
/*---------DIVIDER2 STYLES-------------*/
.divider2 {
    width: 100%;
    min-width: 1000px;
    position: absolute;
    top: -5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*---------DIVIDER2 STYLES ENDS-------------*/

/*--------------CONTACT AND COPYRIGTH STYLES-----------------*/
.contact__wrapper {
    width: 100%;
    margin-top: 11rem;
    position: relative;
}

.contact__container {
    width: 60vw;
    min-width: 1000px;
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact {
    display: flex;
    gap: .5rem;
    font-size: 1rem;
}

.contact a {
    color: #030;
    text-decoration: solid 1px underline #1a7;
    text-underline-offset: 3px;
    transition: .5s;
}

.contact a:hover {
    color: #1a7;
    transition: .5s;
}

.contact__intro {
    font-size: 1.3rem;
}

.copyrigth {
    font-size: .7rem;
}
/*--------------CONTACT AND COPYRIGTH STYLES ENDS-----------------*/